.vsc_darkmatter h1.title
{
	font-family: EnigmaticRegular;
	font-size: 24pt;
	color: #DF8F0F;
	font-weight: bold;
	overflow: visible;
	line-height: normal;
}
.vsc_darkmatter #block-admin-links {
 font-size: 7pt;
}