body.admin-toolbar.vsc_darkmatter {
    background-position: 0px 20px;
}
body.admin-toolbar.vsc_darkmatter #page {
    margin-top: 20px;
}
html body.admin-menu {
 margin-top: 0 !important;
 overflow: visible;
}
div#admin-menu,
div#admin-menu div,
#admin-menu ul a {
 overflow: visible;
 font-family: Helvetica, Arial ;
 font-size: 10px;
 padding: 2px 4px;
}
html body.admin-menu #page-inner {
 padding-top: 20px;

}
/*+clearfix {*/
.vsc_darkmatter ul#navlist:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
    font-size: 0;
}
.vsc_darkmatter ul#navlist {
    display: inline-block;
}
.vsc_darkmatter ul#navlist {
/*\*/
    display: block;
/**/
    -height: 1px;
}
/*+}*/
.vsc_darkmatter div {
    overflow: hidden;
}
.vsc_darkmatter div#admin-toolbar {
    overflow: visible;
    width: 1px;
}
.vsc_darkmatter .full-width {
    display: block;
    position: relative;
    width: 100%;
    padding: 0;
    margin: 0;
    height: 100%;
}
.vsc_darkmatter ul.inline {
    display: block;
    margin: 8px 0px 11px;
    padding: 0px;
    position: relative;
    text-align: right;
}
.vsc_darkmatter ul.inline li {
    position: relative;
    display: inline;
    margin: 0px 5px 0px 0px;
    padding: 0px;
}
/*[clearfix]*/.vsc_darkmatter ul#navlist {
    position: static;
    text-align: center;
    padding: 0px;
    margin: 0px;
}
.vsc_darkmatter ul#navlist li {
    display: inline;
    font-size: 100%;
    float: none;
    padding: 5px;
    margin: 0px -2px 0px 0px;
}
.vsc_darkmatter ul#navlist a {
    display: inline;
    float: none;
}
body.vsc_darkmatter {
    background-color: #000000;
    color: #888888;
    font-size: 12px;
    font-family: "Trebuchet MS", "Times New Roman", serif;
    background-repeat: repeat-x;
    height: auto;
    width: auto;
    padding: 0;
    margin: 0;
}
.vsc_darkmatter div {
    overflow: hidden;
}
.vsc_darkmatter #header-wrapper {
    background-image: url(../images/bg-header-wrapper.png);
    background-position: bottom center;
    background-repeat: repeat-x;
    background-color: #E0E0E0;
}
.vsc_darkmatter #container-wrapper {
    background-image: url(../images/bg-container-wrapper.png);
    background-position: top center;
    background-repeat: repeat-x;
    background-color: #000000;
    padding-top: 20px;
}
.vsc_darkmatter div#admin-toolbar {
    overflow: visible;
    width: 1px;
}
.vsc_darkmatter .admin .left,
.vsc_darkmatter .admin .right {
    float: none;
    width: 100%;
}
.vsc_darkmatter h3 {
    text-decoration: none;
    font-size: 12.2pt;
    color: #80691B;
}
.vsc_darkmatter #feed-icons {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
}
.vsc_darkmatter a.feed-icon {
    display: block;
    position: relative;
    height: 48px;
    width: 48px;
    background-image: url(../images/feed-icon_grey-48px.png);
    background-repeat: no-repeat;
}
.vsc_darkmatter input {
    background-color: #606060;
    border: 0px solid #000000;
    color: #100E0E;
}
.vsc_darkmatter .resizable-textarea .grippie {
    background-color: #222200;
    border: 1px solid #212100;
}
.vsc_darkmatter textarea {
    background-color: #000000;
    background-image: url(../images/bg-block.png);
    background-position: bottom right;
    background-repeat: no-repeat;
    color: #999999;
    border: 1px solid #363636;
}
.vsc_darkmatter fieldset {
    border-color: #191919;
    -moz-border-radius: 5px;
}
.vsc_darkmatter .block-region {
    background-color: #560000;
}
.vsc_darkmatter ul li a.active {
    color: #DF8F0F;
    border-bottom-color: #DF8F0F;
}
.vsc_darkmatter select {
    background-color: transparent;
    border: 0px solid #555555;
    color: #606060;
}
.vsc_darkmatter .handle {
    margin-left: 8px;
}
.vsc_darkmatter #admin-toolbar {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}
.vsc_darkmatter #header {
    height: 140px;
}
.vsc_darkmatter input.form-submit {
    background-color: #100E0E;
    border: 1px solid #00375A;
    color: #666666;
    margin-bottom: 10px;
    padding: 7px;
    cursor: pointer;
}
.vsc_darkmatter a {
    color: #676767;
    text-decoration: none;
    border-bottom: 1px solid #202020;
}
.vsc_darkmatter a.active {
    /*[empty]color:;*/
    text-decoration: none;
}
.vsc_darkmatter a:hover {
    color: #E4E4E4;
}
.vsc_darkmatter h2.teaser-title a {
    color: #B5A400;
    text-decoration: none;
}
/*
** HTML elements
*/
body.drag {
    cursor: move;
}
.vsc_darkmatter th.active img {
    display: inline;
}
.vsc_darkmatter tr.even,
.vsc_darkmatter tr.odd {
    background-color: #EEE;
    border-bottom: 1px solid #444;
    padding: 180px;
}
.vsc_darkmatter tr.drag {
    background-color: #FFFFF0;
}
.vsc_darkmatter tr.drag-previous {
    background-color: #FFD;
}
.vsc_darkmatter td.active {
    background-color: #DDD;
}
.vsc_darkmatter td.checkbox,
th.checkbox {
    text-align: center;
}
.vsc_darkmatter table {
    width: 100%;
}
.vsc_darkmatter tbody {
    border-top: 1px solid #CCC;
}
.vsc_darkmatter tbody th {
    border-bottom: 1px solid #CCC;
}
.vsc_darkmatter thead th {
    text-align: left;
/*LTR*/
    padding-right: 1em;
/*LTR*/
    border-bottom: 3px solid #CCC;
}
.vsc_darkmatter thead th {
    border-color: #002200;
}
/*
** Other common styles
*/
.vsc_darkmatter .breadcrumb {
    padding-bottom: 0.5em;
}
.vsc_darkmatter div.indentation {
    width: 20px;
    height: 1.7em;
    margin: -0.4em 0.2em -0.4em -0.4em;
/*LTR*/
    padding: 0.42em 0 0.42em 0.6em;
/*LTR*/
    float: left;
/*LTR*/
}
.vsc_darkmatter div.tree-child {
    background: url(../../misc/tree.png) no-repeat 11px center;
/*LTR*/
}
.vsc_darkmatter div.tree-child-last {
    background: url(../../misc/tree-bottom.png) no-repeat 11px center;
/*LTR*/
}
.vsc_darkmatter div.tree-child-horizontal {
    background: url(../../misc/tree.png) no-repeat -11px center;
}
.vsc_darkmatter .error {
    color: #E55;
}
.vsc_darkmatter div.error {
    border: 1px solid #D77;
}
.vsc_darkmatter div.error,
.vsc_darkmatter tr.error {
    background: #FCC;
    color: #200;
    padding: 2px;
}
.vsc_darkmatter .warning {
    color: #E09010;
}
.vsc_darkmatter div.warning {
    border: 1px solid #F0C020;
}
.vsc_darkmatter div.warning,
.vsc_darkmatter tr.warning {
    background: #FFD;
    color: #220;
    padding: 2px;
}
.vsc_darkmatter .ok {
    color: #008000;
}
.vsc_darkmatter div.ok {
    border: 1px solid #00AA00;
}
.vsc_darkmatter div.ok,
.vsc_darkmatter tr.ok {
    background: #DFD;
    color: #020;
    padding: 2px;
}
.vsc_darkmatter .item-list .icon {
    color: #555;
    float: right;
/*LTR*/
    padding-left: 0.25em;
/*LTR*/
    clear: right;
/*LTR*/
}
.vsc_darkmatter .item-list .title {
    font-weight: bold;
}
.vsc_darkmatter .item-list ul {
    margin: 0 0 0.75em;
    padding: 0;
}
.vsc_darkmatter #user-login-form ul {
    text-align: left;
    font-size: 7.3pt;
}
.vsc_darkmatter #footer {
    /*[empty]margin-top:;*/
}
.vsc_darkmatter ol.task-list li.active {
    font-weight: bold;
}
.vsc_darkmatter .form-item {
    margin-top: 1em;
    margin-bottom: 1em;
}
.vsc_darkmatter input.form-text {
    /*[empty]background-image:;*/
    background-position: bottom right;
    border: 1px solid #454343;
    color: #E09010;
    background-color: transparent;
}
.vsc_darkmatter #header #search {
    /*+placement:anchor-top-right 0px 0px;*/
    position: absolute;
    right: 0px;
    top: 0px;
}
.vsc_darkmatter tr.odd .form-item,
.vsc_darkmatter tr.even .form-item {
    margin-top: 0;
    margin-bottom: 0;
    white-space: nowrap;
}
.vsc_darkmatter tr.odd {
    background-color: #232323;
}
.vsc_darkmatter table tr td {
    vertical-align: top;
}
.vsc_darkmatter tr.merge-down,
.vsc_darkmatter tr.merge-down td,
.vsc_darkmatter tr.merge-down th {
    border-bottom-width: 0 !important;
}
.vsc_darkmatter .screenshot {
    padding: 5px;
}
.vsc_darkmatter tr.merge-up,
.vsc_darkmatter tr.merge-up td,
.vsc_darkmatter tr.merge-up th {
    border-top-width: 0 !important;
}
.vsc_darkmatter .form-item input.error,
.vsc_darkmatter .form-item textarea.error,
.vsc_darkmatter .form-item select.error {
    border: 2px solid #FF0000;
}
.vsc_darkmatter .form-item .description {
    font-size: 0.85em;
}
.vsc_darkmatter .form-item label {
    display: block;
    font-weight: bold;
}
.vsc_darkmatter div.block {
    background-image: url(../images/bg-block.png);
    background-position: bottom right;
    background-repeat: no-repeat;
    padding: 8px;
    border: 1px solid #000000;
    outline: 1px solid #1D1D1D;
    -moz-border-radius: 5px;
    background-color: #000000;
    margin-bottom: 12px;
}
.vsc_darkmatter tr.even {
    background-color: #363636;
}
.vsc_darkmatter #footer-content {
    text-align: center;
}
.vsc_darkmatter .form-item label.option {
    display: inline;
    font-weight: normal;
}
.vsc_darkmatter .form-checkboxes,
.vsc_darkmatter .form-radios {
    margin: 1em 0;
}
.vsc_darkmatter .form-checkboxes .form-item,
.vsc_darkmatter .form-radios .form-item {
    margin-top: 0.4em;
    margin-bottom: 0.4em;
}
.vsc_darkmatter .marker,
.vsc_darkmatter .form-required {
    color: #F00;
}
.vsc_darkmatter .more-link {
    text-align: right;
/*LTR*/
}
.vsc_darkmatter .more-help-link {
    font-size: 0.85em;
    text-align: right;
/*LTR*/
}
.vsc_darkmatter .nowrap {
    white-space: nowrap;
}
.vsc_darkmatter .item-list .pager {
    clear: both;
    text-align: center;
}
.vsc_darkmatter .item-list .pager li {
    background-image: none;
    display: inline;
    list-style-type: none;
    padding: 0.5em;
}
.vsc_darkmatter .pager-current {
    font-weight: bold;
}
.vsc_darkmatter .tips {
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 0;
    padding-bottom: 0;
    font-size: 0.9em;
}
.vsc_darkmatter dl.multiselect dd.b,
.vsc_darkmatter dl.multiselect dd.b .form-item,
.vsc_darkmatter dl.multiselect dd.b select {
    font-family: inherit;
    font-size: inherit;
    width: 14em;
}
.vsc_darkmatter dl.multiselect dd.a,
.vsc_darkmatter dl.multiselect dd.a .form-item {
    width: 8em;
}
.vsc_darkmatter dl.multiselect dt,
.vsc_darkmatter dl.multiselect dd {
    float: left;
/*LTR*/
    line-height: 1.75em;
    padding: 0;
    margin: 0 1em 0 0;
/*LTR*/
}
.vsc_darkmatter dl.multiselect .form-item {
    height: 1.75em;
    margin: 0;
}
/*
** Inline items (need to override above)
*/
.vsc_darkmatter .container-inline div,
.vsc_darkmatter .container-inline label {
    display: inline;
}
/*
** Tab navigation
*/
.vsc_darkmatter ul.primary {
    border-collapse: collapse;
    padding: 0 0 0 1em;
/*LTR*/
    white-space: nowrap;
    list-style: none;
    margin: 5px;
    height: auto;
    line-height: normal;
    border-bottom: 1px solid #444;
}
.vsc_darkmatter ul.primary li {
    display: inline;
    list-style-type: none;
    padding: 0 0.5em;
}
.vsc_darkmatter ul.primary li a {
    background-color: #444;
    border-color: #666;
    border-width: 1px;
    border-style: solid solid none;
    height: auto;
    margin-right: 0.5em;
/*LTR*/
    padding: 0 1em;
    text-decoration: none;
    color: #606060;
}
.vsc_darkmatter ul.primary li.active a {
    background-color: #CCC;
    border: 1px solid #BBB;
    border-bottom: 1px solid #FFF;
    font-weight: bold;
    text-transform: uppercase;
}
.vsc_darkmatter ul.primary li a:hover {
    background-color: #888;
    border-color: #CCC;
    border-bottom-color: #999;
    color: #232323;
}
.vsc_darkmatter ul.secondary {
    border-bottom: 1px solid #444;
    padding: 0.5em 1em;
    margin: 5px;
}
.vsc_darkmatter ul.secondary li {
    display: inline;
    padding: 0 1em;
    border-right: 1px solid #444;
/*LTR*/
}
.vsc_darkmatter ul.secondary li.active {
    color: #EFEFEF;
}
.vsc_darkmatter ul.secondary a {
    padding: 0;
    text-decoration: none;
}
/*
** Autocomplete styles

Suggestion list*/
.vsc_darkmatter #autocomplete {
    position: absolute;
    border: 1px solid #000000;
    overflow: hidden;
    z-index: 100;
}
.vsc_darkmatter #autocomplete ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
.vsc_darkmatter #autocomplete li {
    background: #FFF;
    color: #000;
    white-space: pre;
    cursor: default;
}
.vsc_darkmatter #autocomplete li.selected {
    background: #0072B9;
    color: #FFF;
}
.vsc_darkmatter .progress .bar {
    background: #FFF url(../../misc/progress.gif);
    border: 1px solid #00375A;
    height: 1.5em;
    margin: 0 0.2em;
}
.vsc_darkmatter .progress .filled {
    background: #0072B9;
    height: 1em;
    border-bottom: 0.5em solid #004A73;
    width: 0%;
}
.vsc_darkmatter .progress .percentage {
    float: right;
/*LTR*/
}
.vsc_darkmatter .progress-disabled {
    float: left;
/*LTR*/
}
.vsc_darkmatter .ahah-progress {
    float: left;
/*LTR*/
}
/*Image Gallery*/
.vsc_darkmatter ul.galleries li {
    position: relative;
    background-image: url(../images/bg-block.png);
    background-position: bottom right;
    background-repeat: no-repeat;
    border: 1px solid #CCCCCC;
    margin: 1em 0;
    padding: 1em;
}
.vsc_darkmatter .view .image-gallery-terms li {
    background: transparent url(../images/bg-block.png) no-repeat bottom right;
    margin: 1em 0;
    padding: 1em;
    border: 1px solid #000000;
    outline: 1px solid #1D1D1D;
    -moz-border-radius: 5px;
}
.vsc_darkmatter #primary-links {
    background: #000000 url(../images/bg-block.png) no-repeat bottom right;
    margin: 10px 0 10px 10px;
    padding: 0;
    border: 1px solid #000000;
    outline: 1px solid #1D1D1D;
    -moz-border-radius: 5px;
}
.vsc_darkmatter #block-admin-links {
    margin-top: 15px;
}
